html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url('../images/playground.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    border-style: solid;
    border-radius: 40px;
    background-color: aliceblue;
    background: linear-gradient(45deg, #f37c, white);
}

.form-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-input {
    order-radius: 30px;
    padding: 5px;
    font-weight: bold;
}

.form-button {
    border-radus: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    width: -webkit-fill-available;
    font-weight: bold;
}

.mainstage {
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    z-index: -100;
}

.participants {
    position: absolute;
    width: -webkit-fill-available;
    height: 240px;
    bottom: 0px;
}

.participant {
    display: inline-block;
    bottom: 0px;
    width: 320px;
    height: 240px;
}

.toolbar {
    width: fit-content;
    padding: 10px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: none;
}

.btn-toggle {
    width: 64px;
    height: 64px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    border-style: solid;
}

.btn-enabled {
    background-color: greenyellow;
}

.btn-disabled {
    background-color: red;
}

.btn-icon {
    width: 100%;
    height: 100%;
    border-style: none;
}